* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
/* header and navigation styles */
.header {
  background: #fff8f3;
  background-image: url(../images/header_bg.png), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
section {
  margin-top: 130px;
}
.nav-style {
  font-weight: 800;
  font-size: 45px;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 51px;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  background: #fd6e0a;
  border-radius: 5px;
  height: 64px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  border: 0;
  padding: 18px 35px;
}
.banner {
  display: flex;
  align-items: center;
  margin: 0 200px;
}
.banner-title {
  font-weight: 700;
  font-size: 85px;
  margin-bottom: 20px;
}
.banner-sumtitle {
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 5px;
}
.banner-discription {
  font-size: 18px;
  margin-bottom: 30px;
}
.image img {
  width: 500px;
  height: 676px;
}
/* main style */
main {
  max-width: 1140px;
  margin: 0 auto;
}
/* about section style */
.about {
  background: #fff8f3;
  border-radius: 10px;
  padding: 131px 256px;
  text-align: center;
}
.section-description {
  color: #757575;
  margin-bottom: 30px;
  font-size: 18px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-title {
  font-size: 20px;
  color: #757575;
}
.info-description {
  font-weight: 700;
  font-size: 20px;
  color: #474747;
}
/* What i do section */

.section-title {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  margin-bottom: 50px;
}
.what-para {
  font-size: 18px;
  text-align: center;
  color: #757575;
  width: 909px;
  height: 90px;
  margin-bottom: 50px;
}
.skills-container {
  display: flex;
  gap: 24px;
}
.skill {
  background: #ffffff;
  box-shadow: 0px 6px 50px lightcyan;
  border-radius: 5px;
  padding: 30px;
}
.skill-title {
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.skill-description {
  color: #757575;
}
/* resume style */
.resume-container {
  display: flex;
  gap: 71px;
}
.resume-item {
  margin: 30px 0;
}
.resume .title {
  font-weight: 700;
  font-size: 25px;
  color: #474747;
  margin-bottom: 10px;
}
.resume .sub-title {
  font-weight: 600;
  font-size: 20px;
  color: #757575;
  margin-bottom: 20px;
}
.resume .description {
  color: #757575;
}
.resume-btn {
  margin-top: 50px;
  text-align: center;
}
/* contact style */
.contact {
  display: flex;
  gap: 100px;
  background: #fff8f3;
  padding: 130px 200px;
}
.contact .section-title {
  text-align: left;
  font-weight: 700;
  font-size: 35px;
}
.contact input[type="text"],input[type="email"] ,textarea{
  margin-bottom: 24px;
  border: 0;
  width: 100%;
  padding: 18px 30px;
}
input{
  height: 64px;
}
